@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Euclid Circular A", sans-serif;
  color: #202226;
}

iframe {
  position: relative;
}

html {
  height: 100%;
}

body {
  overflow-y: scroll;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.semibold {
  font-weight: 600;
}

.responsiveImgInText {
  max-width: 50px;
  height: auto;
  display: inline;
  position: relative;
  top: 8px;
}

.blue {
  color: #81b4ec;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                  TRANSITION
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
.transition-fade {
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.delay1 {
  transition-delay: 0.2s;
}

.delay2 {
  transition-delay: 0.4s;
}

.delay3 {
  transition-delay: 0.6s;
}

html.is-leaving .transition-fade {
  transition-delay: 0s !important;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      NAVBAR
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
.toggleMenu {
  display: none;
}

#navbar {
  display: inline-flex;
  width: 100%;
  justify-content: right;
  padding: 30px 0;
}
#navbar li {
  margin-right: 40px;
  font-size: 1.5rem;
  font-weight: 300;
}
#navbar li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
#navbar li a,
#navbar li a:after,
#navbar li a:before {
  transition: all 0.5s;
}
#navbar li a:hover {
  color: #202226;
}

/* SHIFT */
nav.shift ul li a {
  position: relative;
  z-index: 1;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #81b4ec;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                       FOOTER
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
footer {
  background: #81b4ec;
  text-align: center;
  padding: 30px 0px;
  margin-top: auto;
  font-size: 1.25rem;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                  HOMEPAGE BLOCK INTRODUCTION
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
#homepage-content {
  width: 100%;
}

#homepage-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #f6f8fc;
  border-radius: 20px;
  max-width: 80%;
  padding: 40px;
  margin: 20px auto;
  align-items: center;
}
#homepage-block #left {
  grid-area: 1/1/2/3;
}
#homepage-block #left p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}
#homepage-block #right {
  grid-area: 1/3/2/4;
}

#myself-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #f6f8fc;
  border-radius: 20px;
  max-width: 80%;
  padding: 40px;
  margin: 80px auto 40px auto;
  align-items: center;
}
#myself-block #left {
  grid-area: 1/1/2/1;
}
#myself-block #right {
  grid-area: 1/2/2/4;
}
#myself-block #right p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.full-width {
  left: 50%;
  margin-left: -15vw;
  margin-right: -50vw;
  max-width: 100vw;
  margin-top: -150px;
  position: relative;
  right: 50%;
  width: 500px;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                CHATBOTS PAGE
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
#question1:nth-child(1n+1) {
  margin-top: 60px;
}

#question1 {
  position: relative;
  background: #f6f8fc;
  border-radius: 20px;
  max-width: 80%;
  padding: 40px;
  margin: 20px auto;
  align-items: center;
}
#question1 h1 {
  position: absolute;
  top: -35px;
  font-size: 3rem;
  font-weight: 800;
}
#question1 p {
  font-size: 1.5rem;
}

#question2 {
  position: relative;
  background: #f6f8fc;
  border-radius: 20px;
  max-width: 80%;
  padding: 40px;
  margin: 20px auto;
  align-items: center;
  margin-top: 60px;
}
#question2 #whatIsItNLP {
  position: absolute;
  top: -35px;
  right: 20px;
  font-size: 3rem;
  font-weight: 800;
}
#question2 p {
  font-size: 1.5rem;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                   IBM PAGE
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
.ibmColor .businessPromote {
  color: #6d8be7;
}

#businessPresentation {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 80%;
  margin: 0px auto;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}
#businessPresentation div {
  margin: 0 auto;
}
#businessPresentation #logo {
  grid-area: 1/1/2/4;
}
#businessPresentation #logo img {
  height: 250px;
  width: auto;
  margin: 0px auto;
}
#businessPresentation #block1,
#businessPresentation #block2,
#businessPresentation #block3 {
  border-radius: 20px;
  padding: 25px;
  background: #f6f8fc;
  min-width: 300px;
}
#businessPresentation #block1 {
  grid-area: 2/1/3/2;
}
#businessPresentation #block2 {
  grid-area: 2/2/3/3;
}
#businessPresentation #block3 {
  grid-area: 2/3/3/4;
}

.businessPromote {
  font-weight: 800;
  font-size: 2rem;
}

.ibmColor #logo .businessName {
  color: #6d8be7;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 20px;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                             DIALOGFLOW PAGE
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
.dialogflowColor .businessPromote {
  color: #ff9800;
}

.dialogflowColor #logo .businessName {
  color: #ff9800;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 20px;
}

#dialogflowBotSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0px auto 100px auto;
  background: #f6f8fc;
  border-radius: 20px;
  max-width: 80%;
  padding: 40px;
}
#dialogflowBotSection p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.dialogflowFrame {
  margin: 0px auto;
  width: 700px;
  height: 600px;
  background-color: #ff9800;
}

.separationTitle {
  color: #ff9800;
  font-size: 3rem;
  font-weight: 800;
}

df-messenger {
  --df-messenger-button-titlebar-color: #ff9800;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                             AZURE PAGE
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
.azureColor .businessPromote {
  color: #0078d4;
}

.azureColor #logo .businessName {
  color: #0078d4;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 20px;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                   AWS PAGE
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
.awsColor .businessPromote {
  color: #2e73b8;
}

.awsColor #logo .businessName {
  color: #2e73b8;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 20px;
}

/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                             MEDIAQUERIES FOR RESPONSIVENESS
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*MEDIA QUERIES FOR TEXT (FONT-SIZE) */
@media screen and (max-width: 1300px) {
  #homepage-block {
    display: flex;
    flex-direction: column;
  }
  #homepage-block #right img {
    width: 300px;
  }
  #homepage-block #left p {
    font-size: 1.25rem;
  }

  #myself-block {
    display: flex;
    flex-direction: column;
  }
  #myself-block #left img {
    width: 300px;
    margin-bottom: 20px;
  }
  #myself-block #right p {
    font-size: 1.25rem;
  }
  #myself-block #right p img {
    max-width: 40px;
    top: 6px;
  }
}
@media screen and (max-width: 1200px) {
  #businessPresentation {
    display: flex;
    flex-direction: column;
  }
  #businessPresentation #block1 {
    margin-top: 20px;
  }
  #businessPresentation #block1, #businessPresentation #block2, #businessPresentation #block3 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 900px) {
  #homepage-block #left p {
    font-size: 1rem;
  }

  #myself-block #right p {
    font-size: 1rem;
  }

  #footerSize {
    font-size: 1rem !important;
  }

  #dialogflowBotSection p {
    font-size: 1rem;
  }

  .separationTitle {
    font-size: 2rem;
  }
}
/*MEDIA QUERIES FOR NAVBAR & FONT SIZE */
@media screen and (max-width: 1235px) {
  #navbar {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform ease 500ms;
    z-index: 10;
  }

  .toggleMenu {
    display: flex;
    justify-content: right;
    margin: 20px 20px 0 0;
    position: relative;
    z-index: 20;
    cursor: pointer;
  }
  .toggleMenu img {
    width: 40px;
    height: auto;
  }

  .openMenu {
    display: block;
  }
  .openMenu img {
    width: 30px;
    padding: 10px 5px 11px 0;
  }

  .closeMenu {
    display: none;
  }

  .open #navbar {
    transform: translateX(0);
  }
  .open .openMenu {
    display: none;
  }
  .open .closeMenu {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
